# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\seppe\Desktop\HogeSchoolJaar2\kwartaal1\unitTesting\OpdrachtTDDSeppeBuse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
